---
import { getLocale } from 'astro-intl';
import { getTranslations } from '../i18n/getTranslations';


const lang = getLocale();
const p = lang === 'fr' ? '' : `/${lang}`;
const t = getTranslations('footer');
---

<footer>
  <div>
    <div class="footer-logo">
      <img src="/BAF%20Logo.png" alt="Logo BAF Camp" id="footerLogoImg">
    </div>
    {t('tagline') && <p class="footer-tagline">{t('tagline')}</p>}
  </div>
  <div class="footer-col">
    <h4>{t('navTitle')}</h4>
    <ul>
      <li><a href={p + '/'}>{t('navHome')}</a></li>
      <li><a href={p + '/programme'}>{t('navProgramme')}</a></li>
      <li><a href={p + '/nous-aider'}>{t('navAider')}</a></li>
      <li><a href={p + '/infos'}>{t('navInfos')}</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>{t('fonctionnementTitle')}</h4>
    <ul>
      <li><a href={p + '/financements'}>{t('financements')}</a></li>
      <li><a href={p + '/charte'}>{t('footerCharte')}</a></li>
      <li><a href={p + '/autogestion'}>{t('autogestion')}</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>{t('reseauTitle')}</h4>
    <ul>
      <li><a href="https://stuut.info/SAVE-THE-DATE-Appel-a-de-nouvelles-energies-pour-le-BAF-Camp-10924">Stuut</a></li>
      <li><a href="https://signal.group/#CjQKIG9fN5pPDbZpGm_gIZgsASV_4XidkI_wgNJ7lwBc8caaEhCAU3Kp2wWLrEnBIKp9bXQN">
        {t('signalLabel')}</a></li>
      <li><a href="mailto:activismcampbelgium@proton.me">{t('emailLabel')}</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <span>{t('copy')}</span>
    {t('copyTagline') && <span>{t('copyTagline')}</span>}
  </div>
</footer>
