---
import { setRequestLocale } from 'astro-intl';
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Scripts from '../components/Scripts.astro';

await setRequestLocale(Astro.url);

const { slug } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <BaseHead {slug} />
  </head>
  <body>
    <Nav {slug} />
    <slot />
    <Footer />
    <Scripts />
  </body>
</html>
